
// the colors varibles
$Dark: #000000;  

$Light: #ffffff;

$Link: #91D7EE;

$main-color: #34495E;

$Falu: #801818;

$Mikado: #ffc40c;

$Burlywood: #deb887;

$Drake: #08B07c;

$Zaffre: #0014a8;

$Australien: #cc9911;

$Labrador: #fffef2;

$Start: #283747;

// A list of the colors and names, I want the hover effect from general to use
$hover-colors:(
    Start: #283747,
    Australien: #cc9911,
    Drake: #08B07c,
    Burlywood: #deb887,
    Falu: #801818,
    Labrador: #fffef2,
    Mikado: #ffc40c,
    Zaffre: #0014a8,
);